{
  "log": {
    "_recordingName": "should collect data",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "af9d4d49ce1efd13fa823d819fc5e496",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentry.io/api/0/organizations/creativice/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 10216,
            "text": "{\"id\":\"4504015469674496\",\"slug\":\"creativice\",\"status\":{\"id\":\"active\",\"name\":\"active\"},\"name\":\"Creativice\",\"dateCreated\":\"2022-10-20T10:34:10.171163Z\",\"isEarlyAdopter\":false,\"require2FA\":false,\"requireEmailVerification\":false,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"features\":[\"shared-issues\",\"discover-metrics-baseline\",\"global-views\",\"metrics-extraction\",\"custom-event-title\",\"new-weekly-report\",\"invite-members-rate-limits\",\"performance-frontend-use-events-endpoint\",\"issue-details-owners\",\"alert-crash-free-metrics\",\"performance-issues-ingest\",\"org-subdomains\",\"dashboards-basic\",\"performance-ops-breakdown\",\"promotion-mobperf-discount20\",\"performance-suspect-spans-view\",\"performance-onboarding-checklist\",\"performance-view\",\"onboardi[...]
