{
  "log": {
    "_recordingName": "fetch-project-events",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "af9d4d49ce1efd13fa823d819fc5e496",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentry.io/api/0/organizations/creativice/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 10216,
            "text": "{\"id\":\"4504015469674496\",\"slug\":\"creativice\",\"status\":{\"id\":\"active\",\"name\":\"active\"},\"name\":\"Creativice\",\"dateCreated\":\"2022-10-20T10:34:10.171163Z\",\"isEarlyAdopter\":false,\"require2FA\":false,\"requireEmailVerification\":false,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"features\":[\"performance-span-histogram-view\",\"app-store-connect-multiple\",\"performance-dry-run-mep\",\"mobile-screenshots\",\"incidents\",\"team-insights\",\"unified-span-view\",\"custom-event-title\",\"symbol-sources\",\"dashboards-edit\",\"slack-overage-notifications\",\"invite-members\",\"performance-ops-breakdown\",\"custom-symbol-sources\",\"mobile-app\",\"global-views\",\"integrations-stacktrace-link\",\"ondemand-budgets\",\"change-alerts\",\"alert-crash-free-metrics\",\"data-forwarding\",\"int[...]
