{
  "log": {
    "_recordingName": "fetch-project-issues",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "af9d4d49ce1efd13fa823d819fc5e496",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentry.io/api/0/organizations/creativice/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 10216,
            "text": "{\"id\":\"4504015469674496\",\"slug\":\"creativice\",\"status\":{\"id\":\"active\",\"name\":\"active\"},\"name\":\"Creativice\",\"dateCreated\":\"2022-10-20T10:34:10.171163Z\",\"isEarlyAdopter\":false,\"require2FA\":false,\"requireEmailVerification\":false,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"features\":[\"discover-metrics-baseline\",\"custom-event-title\",\"dashboards-template\",\"metrics-extraction\",\"performance-autogroup-sibling-spans\",\"performance-view\",\"performance-suspect-spans-view\",\"enable-zendesk-support\",\"advanced-search\",\"slack-overage-notifications\",\"invite-members-rate-limits\",\"event-attachments\",\"integrations-event-hooks\",\"release-health-return-metrics\",\"unified-span-view\",\"performance-onboarding-checklist\",\"app-store-connect-multiple\",\"dashboard-grid-l[...]
